.container {
    height: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #EEEBE7;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
}
    
.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E2DBD0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 0px;
    margin-top: 40px;
    overflow: hidden;
}
  
.homeButton { 
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px; 
    height: 31px;
    padding-top: 2px;
    background-color: #2a333c; 
    border: none; 
    cursor: pointer;
    overflow: hidden;
}

.button1 { 
    background-color: #2a333c;
    color: #E2DBD0;
    border-color: #2a333c;
}

.entries {
    display: flex;
    width: 100%;
    height: 100%; 
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    text-align: center;
    overflow-y: hidden;
}

.panel {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    scroll-snap-align: start;
    overflow: hidden;
}

.citipic { 
    height: 100px;
    width: auto;
}

.fcapic { 
    margin-top: -50px;
    margin-bottom: -50px;
    height: 200px;
    width: auto;
}

.actelpic { 
    height: 80px;
    width: auto;
    margin-bottom: 20px;
}

.ni2pic { 
    margin-top: -20px;
    margin-bottom: -30px;
    height: 150px;
    width: auto;
}

.list {
    list-style: none;
    max-width: 600px;
}
  
.points:before {
    content: "•";
    display: inline-block;
    width: 1em;
}

.content { 
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botDiv {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #2a333c;
    border-style: solid;
    padding: 5px;
    width: 150px;
    flex-direction: column;
    margin-right: 100px; 
  }
  
  .scroll:last-child {
    margin-right: 0; 
  }
  
  .scroll p {
    margin: 0; 
  }