.experiencesTitle { 
    margin-top: 150px;
    margin-bottom: 55px;

}

.fullGrid { 
    width:1400px;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 600px;
    margin-left:auto;
    margin-right:auto;
}

.citiFullTime { 
    display:grid;
    grid-template-columns: 1fr 1fr;

}

.citiFullTimeLogoBox { 
    margin-top:auto;
    margin-bottom:auto;
}

.citiFullTimeText { 
    margin-top:auto;
    margin-bottom:auto;

}

.fca { 
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.fcaLogoBox { 
    margin-top:auto;
    margin-bottom:auto;
}

.fcaText { 
    margin-top:auto;
    margin-bottom:auto;
}

.ni2 { 
    display:grid;
    grid-template-columns: 1fr 1fr;

}

.ni2LogoBox { 
    margin-top:auto;
    margin-bottom:auto;
}

.ni2Text { 
    margin-top:auto;
    margin-bottom:auto;
}

.actel { 
    display:grid;
    grid-template-columns: 1fr 1fr;

}

.actelLogoBox { 
    margin-top:auto;
    margin-bottom:auto;
}

.actelText { 
    margin-top:auto;
    margin-bottom:auto;
}