.experiencesTitle { 
    margin-top: 35px;
    margin-bottom: 45px;

}

.fullGrid { 
    min-width: 30vh;
    max-width: 70vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 600px;
    margin-left:auto;
    margin-right:auto;
}

.citiFullTime { 
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.citiFullTimeText { 
    margin-top:auto;
    margin-bottom:auto;

}

.fca { 
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

.fcaText { 
    margin-top:auto;
    margin-bottom:auto;
}

.ni2 { 
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.ni2Text { 
    margin-top:auto;
    margin-bottom:auto;
}

.actel { 
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.logoBox { 
    margin-top:auto;
    margin-bottom:auto;
}

.actelText { 
    margin-top:auto;
    margin-bottom:auto;
}


.paper {
    display: inline-block;
    animation: paperRoll 1s infinite;
}

@keyframes paperRoll {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}