
.container {
    background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column; 
}

.headshot { 
    object-fit: cover;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border-width: 10px;
}

.name { 
    margin-top: 100px;
    align-self: center;
    object-fit: cover;
}

.menuConsole { 
    /* Tight Oval on the left side of the page - constant window*/
    /* Not fully rounded edges (border radius around 35ish maybe?) */


}

.menuItem { 
    /* Little circles in the menu console */


}