.headshotContainer { 
    margin:0 auto;
    object-fit: contain;
    position: relative;
    width: min(700px, 80vw);
    height: min(700px, 80vw);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(104, 112, 118, 0.08) 0px 12px 20px 6px
}

.title { 
    margin-top: 60px;
    font-size:70px;
}

.quickBlurb { 
    font-size:35px;
}

.contactMeButton { 
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}