.headshotContainer { 
    margin:0 auto;
    object-fit: contain;
    position: relative;
    width: min(500px, 70vw);
    height: min(500px, 70vw);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(104, 112, 118, 0.08) 0px 12px 20px 6px
}

.title { 
    margin-top: 30px;
    font-size:70px;
}

.quickBlurb { 
    margin-top:30px;
    font-size:35px;
}

.contactMeButton { 
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}

.wavingHand {
    display: inline-block;
    animation: wave 1s infinite;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}